<h2>Les formulaires</h2>

<div class="chapter">
    <p>Les ReactiveForms → n'oubliez pas d'importer ReactiveFormsModule dans le module adéquat</p>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <label for="lastname">Nom :</label>
            <input id="lastname" type="text" formControlName="lastname">   
            <!-- On regarde si le champs est valide ou non (mais on ne saura pas pourquoi il est invalide) -->
            <!-- <span *ngIf="!registerForm.get('lastname')?.valid" class="txt-error">Le champs n'est pas valide</span> -->
            <span *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.errors?.['required']" class="txt-error">Le champs est requis</span>
            
            <span *ngIf="registerForm.get('lastname')?.errors?.['minlength'] || registerForm.get('lastname')?.errors?.['maxlength']" class="txt-error">Votre nom doit faire minimum 2 caractères et maximum 100 caractères</span>
        </div>

        <div class="form-group">
            <label for="firstname">Prénom :</label>
            <input id="firstname" type="text" formControlName="firstname">
            <span *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.errors?.['required']" class="txt-error">Le champs est requis</span>
            
            <span *ngIf="registerForm.get('firstname')?.errors?.['minlength'] || registerForm.get('firstname')?.errors?.['maxlength']" class="txt-error">Votre prénom doit faire minimum 2 caractères et maximum 100 caractères</span>
        </div>
            
        <div class="form-group">
            <label for="email">Email : </label>
            <input id="email" type="email" formControlName="email">
            <span *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']" class="txt-error">Le champs est requis</span>
            
            <span *ngIf="registerForm.get('email')?.errors?.['email']" class="txt-error">Votre email est invalide</span>
        </div>
            
        <div class="form-group">
            <label for="password">Mot de passe : </label>
            <input id="password" type="password" formControlName="password">
            <span *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']" class="txt-error">Le champs est requis</span>
        </div>

        <div class="form-group">
            <label for="birthdate">Date de naissance : </label>
            <input id="birthdate" type="date" formControlName="birthdate">
            <span *ngIf="registerForm.get('birthdate')?.touched && registerForm.get('birthdate')?.errors?.['required']" class="txt-error">Le champs est requis</span>
            <span class="txt-error" *ngIf="registerForm.get('birthdate')?.errors?.['mineur']">Vous devez être majeur 🔞</span>
        </div>

        <div class="form-group">
            <label for="height">Votre taille (cm) : </label>
            <input id="height" type="number" formControlName="height">
            <span *ngIf="registerForm.get('height')?.errors?.['min'] || registerForm.get('height')?.errors?.['max']" class="txt-error">Votre taille doit être comprise entre 50cm et 250cm</span>
        </div>

        <div class="form-group">
            <label for="married">Marié(e) : </label>
            <input id="married" type="checkbox" formControlName="married">
        </div>

        <div class="form-group">
            <label for="job">Votre métier : </label>
            <select formControlName="job" id="job">
                <option value="" hidden>Choisissez un métier dans la liste</option>
                <option *ngFor="let job of listJobs" [value]="job">{{job}}</option>
            </select>
            <span *ngIf="registerForm.get('job')?.touched && registerForm.get('job')?.errors?.['required']" class="txt-error">Le champs est requis</span>
        </div>

        <div class="form-submit">
            <input class="button" type="submit" value="S'enregistrer">
        </div>
    </form>
</div>