<h2>Détail du contact dont l'id est {{id}}: </h2>
<div class="chapter">
    <p><a routerLink="/demo/demo7">Revenir à la liste des contacts</a></p>
    <img [src]="contact?.avatar" alt="Avatar du contact">
    <div>{{contact?.firstname}} {{contact?.lastname}}</div>
    <div><span *ngIf="contact?.gender == 'male' ">🚹</span><span *ngIf="contact?.gender == 'female'">🚺</span></div>
    <div>{{contact?.birthdate | date : 'dd/MM/yyyy'}}</div>
</div>