nav {
    width: 18vw;
    min-height: 100%;
    background-color: rgb(195, 222, 231);
}

.main-menu {
    margin: 0;
    padding: 0;
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    margin: 2% 4%;
}

a {
    text-decoration: none;
    color: darkslategray;
}

a:hover {
    color: darksalmon;
}

.secondary-menu {
    margin: 0;
    padding: 0;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.isActive {
    text-decoration: underline;
    font-weight: bold;
}