<!-- Avant directives -->
<!-- <nav>
    <ul class="main-menu">
        <li><a routerLink="/home">Accueil</a></li>
        <li>
            <a routerLink="/demo">Demos</a>
            <ul class="secondary-menu">
                <li><a routerLink="/demo/demo1">Demo1 - Les Bindings</a></li>
                <li><a routerLink="/demo/demo2">Demo2 - Les Pipes</a></li>
                <li><a routerLink="/demo/demo3">Demo3 - Les Directives</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="/exercice">Exercices</a>
            <ul class="secondary-menu">
                <li>
                    <a routerLink="/exercice/exo1">Exercice 1 - Le timer</a></li>
            </ul>
        </li>
    </ul>
</nav> -->

<!-- Après directives -->
<nav>
    <ul class="main-menu">
        <li *ngFor="let link of links; let i = index">
            <a [ngClass]="{isActive: link.isVisible}" (click)="toggleMenu(i)" [routerLink]="link.url">{{link.title}}</a>
            <ul *ngIf="link.isVisible" class="secondary-menu">
                <li *ngFor="let child of link.children">
                    <a [routerLink]="child.url">{{child.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
    <div>
        <div *ngIf="connectedUser">Bienvenue {{connectedUser.firstname}}</div>
        <div>
            <a *ngIf="!connectedUser" routerLink="/demo/demo5">Se connecter</a>
            <button (click)="logout()" *ngIf="connectedUser">Se déconnecter</button>
        </div>
    </div>
</nav>