<h2>Les Pipes</h2>
<div class="chapter">
    <h3>Les Pipes principaux</h3>

    <h4>Sur les chaines</h4>
    <div>Ma chaine sans formatage : {{maChaine}}</div>
    <div>Ma chaine toute en majuscule : {{maChaine | uppercase}}</div>
    <div>Ma chaine toute en minuscule : {{maChaine | lowercase}}</div>
    <div>Ma chaine avec une maj à chaque mot : {{maChaine | titlecase}}</div>

    <h4>Sur les nombres</h4>
    <div>Mon nombre sans formatage : {{monNombre}}</div>
    <div>Mon nombre arrondi {{monNombre | number : '1.0-2'}}</div>

    <h4>Sur les dates</h4>
    <div>Ma date sans formatage {{maDate}}</div>
    <div>Ma date avec formatage {{maDate | date : 'dd/MM/yyyy'}}</div>
</div>

<div class="chapter">
    <h3>Les customs Pipes</h3>
    <div>Il fait actuellement {{maTemperature}}°C</div>
    <div>Il fait actuellement {{maTemperature | toFahrenheit }}°F</div>
    <div>{{tempEnC}} °C = {{tempEnC | convertTemp : 'f'  | number : '1.0-1' }} °F</div>
    <div>{{tempEnF}} °F = {{tempEnF | convertTemp : 'c' | number : '1.0-1' }} °C</div>
</div>