.parent {
    border: 1px solid darkred;
    width: 90%;
    height: 25%;
    margin: auto;
    padding: 1%;
}

.chapter {
    background-color: white;
    padding: 1%;
    width: 90%;
    margin : auto;
    margin-bottom: 1%;
}