<h2>Input / Output</h2>
<div class="chapter">
    <div class="parent">
        <h3>Je suis le composant parent et je m'appelle <input type="text" [(ngModel)]="monNom">.</h3>
        <div>{{message}}</div>
        <app-demo4child [nomParent]="monNom" (faireQuelqueChose)="repondreBesoinEnfant($event)">
            <div>Pouet pouet</div>
            <div>Lolilol</div>
        </app-demo4child>
    </div>
</div>
