<h4>Ma liste de course</h4>
<ul>
    <li *ngFor="let product of listToShow; let i = index">
        <!-- via id -->
        <div class="name-product">{{product.name}}</div>
        <div class="qt-product">{{product.quantity}}</div> 
        <div class="buttons">
            <!-- Avant service, avec les event -->
            <!-- <button (click)="sendId(product.id)">🗑</button>
            <button (click)="onUp(product.id)">➕</button> 
            <button (click)="onDown(product.id)">➖</button> -->

            <button (click)="delete(product.id)">🗑</button>
            <button (click)="upQt(product.id)">➕</button> 
            <button (click)="downQt(product.id)">➖</button>
        </div>
       
        <!-- via index -->
        <!-- <span>{{product.name}}</span> <span>{{product.quantity}}</span> <button (click)="sendId(i)">🗑</button> -->

    </li>
</ul>