button {
    padding: 2% 3%;
    background-color: black;
    color : white;
    border : 1px solid black;
    margin : 0.5%;
}

button:hover {
    background-color: white;
    color : black;
    border : 1px solid black;
}

button:disabled {
    background-color: lightgray;
    color : darkgray;
    border : 1px solid lightgray;
}

li {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.name-product {
    width: 30%;
}

.qt-product{
    width: 10%
}

.buttons{
    width: 40%;
}