.chapter {
    background-color: white;
    padding: 1%;
    width: 90%;
    margin : auto;
    margin-bottom: 1%;
}

.big {
    font-size: 42px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card img {
    width: 75px;
    height: 75px;
}

.blueCard {
    background-color: lightblue;
}

.pinkCard {
    background-color: lightpink;
}

button {
    padding: 1% 2%;
    background-color: black;
    color : white;
    border : 1px solid black;
    margin : 1%;
}

button:hover {
    background-color: white;
    color : black;
    border : 1px solid black;
}

button:disabled {
    background-color: lightgray;
    color : darkgray;
    border : 1px solid lightgray;
}

input {
 width: 50%;
}

.mb {
    margin-bottom: 2%;
}

span {
    font-weight: bold;
}