<h2>Les directives</h2>
<div class="chapter">
    <h3>Les components directives</h3>
    <div>
        <h4>La directive ngModel</h4>
        <div>Déjà vue précédemment, elle permet de faire du binding two-way </div>
        <div class="mb">Rappel : Si vous l'utilisez, vous devrez importer FormsModule</div>
        <div>
            <label for="fav-food">Nourriture pref : </label>
            <input id="fav-food" type="text" [(ngModel)]="favoriteFood" placeholder="Entrez votre plat préféré">
        </div>
        <p>Mon plat préféré est {{favoriteFood}}</p>
    </div>
    <div>
        <h4>La directive ngStyle</h4>
        <div [ngStyle]="{ color: rage }">Je suis vert de rage</div>
    </div>
    <div>
        <h4>La directive ngClass</h4>
        <div [ngClass]="{big: isBig, bold : isBold, italic : isItalic}">Bonjour et bienvenue !</div>
        <button (click)="switchGros()">Switch Gros</button>
        <button (click)="switchGras()">Switch Gras</button>
        <button (click)="switchItalic()">Switch Italic</button>
    </div>
</div>

<div class="chapter">
    <h3>Les structurals directives</h3>
    <div>
        <h4>Le NgIf</h4>
        <div class="mb">Sert à afficher contextuellement un bloc html</div>

        <!-- <span *ngIf="isMale ; else elseBlock">un homme</span>
        <ng-template #elseBlock><span>une femme</span></ng-template> -->

        <div>Bonjour je suis <span *ngIf="isMale">un homme</span> <span *ngIf="!isMale">une femme</span></div>
        <div>
            <button (click)="switchGender('male')">Homme 🙆‍♂️</button>
            <button (click)="switchGender('female')">Femme 👷‍♀️</button>
        </div>
    </div>
    <div>
        <h4>Le NgSwitch</h4>
        <input type="text" [(ngModel)]="jourSemaine" placeholder="Entrez un jour de la semaine">
        <div [ngSwitch]="jourSemaine.toLowerCase()">
            <div *ngSwitchCase="'lundi'">Aujourd'hui nous sommes lundi, pire jour de la semaine 😭</div>
            <div *ngSwitchCase="'mardi'">Aujourd'hui nous sommes mardi, c'est Ravioli 🍝</div>
            <div *ngSwitchCase="'mercredi'">Aujourd'hui nous sommes mercredi, c'est bientôt le weekend ⏲</div>
            <div *ngSwitchCase="'jeudi'">Aujourd'hui nous sommes jeudi, c'est grève 🚌</div>
            <div *ngSwitchCase="'vendredi'">Aujourd'hui nous sommes vendredi, c'est le weekend 🥳</div>
            <div *ngSwitchCase="'samedi'">Aujourd'hui nous sommes samedi, grosse soirée en vue 🍻</div>
            <div *ngSwitchCase="'dimanche'">Aujourd'hui nous sommes dimanche, dîner en famille (avec la gueule de bois)
                👨‍👩‍👦‍👦</div>
            <div *ngSwitchDefault>En attente d'un jour de la semaine valide...</div>
        </div>
    </div>
    <div>
        <h4>Le NgFor</h4>
        <div>
            <h3>Version simple</h3>
            <ul>
                <li *ngFor="let product of listeCourse; let i = index">
                    {{i}} - {{product}}
                </li>
            </ul>
        </div>
        <div>
            <h3>Version plus complexe avec des objets</h3>
            <div class="cards">
                <div *ngFor="let formateur of formateurs">
                    <div class="card"
                        [ngClass]="{blueCard: formateur.gender == 'm', pinkCard: formateur.gender == 'f'}">
                        <img [src]="formateur.avatar" [alt]="formateur.firstname">
                        <h5>{{formateur.firstname}} {{formateur.lastname}}</h5>
                        <div>{{formateur.birthdate | date : "dd/MM/yyyy"}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chapter">
    <h3>Les customs directives</h3>
    <div>Lorem, ipsum dolor sit amet <span highlight>consectetur</span> adipisicing elit. Dolor sunt excepturi nulla, sequi, <span highlight>accusamus</span> eligendi ducimus voluptatum similique corporis, harum quod quas deserunt! Hic <span highlight>accusamus</span> quibusdam inventore tempore, similique sapiente.</div>
</div>