<h2>Exercice Shopping List</h2>
<div class="chapter">
    <input placeholder="Entrez le nom de votre produit" type="text" [(ngModel)]="productToAdd">
    <button (click)="addProduct()">Ajouter</button>

    <!-- Avant service -->
    <!-- <app-show-list [listToShow]="products" (onDelete)="deleteProduct($event)" (onUpQt)="upQt($event)" (onDownQt)="downQt($event)"></app-show-list> -->

    <!-- Après service sans input, output -->
    <app-show-list></app-show-list>

</div>