.chapter {
    background-color: white;
    padding: 1%;
    width: 90%;
    margin : auto;
    margin-bottom: 1%;
}

button {
    padding: 1% 2%;
    background-color: black;
    color : white;
    border : 1px solid black;
    margin : 0.5% 1%;
}

button:hover {
    background-color: white;
    color : black;
    border : 1px solid black;
}

button:disabled {
    background-color: lightgray;
    color : darkgray;
    border : 1px solid lightgray;
}

input {
    width: 30%;
}