<h2>Les Services</h2>
<div class="chapter">
    <div *ngIf="!connectedUser">
        <div>
            <input type="text" placeholder="Veuillez entrer votre login" [(ngModel)]="login">
        </div>
        <div>
            <input type="password" placeholder="Veuillez entrer votre mot de passe" [(ngModel)]="password">
        </div>
        <button (click)="connect()">Se connecter</button>
    </div>

    <div *ngIf="connectedUser">
        <p>Bonjour et bienvenue {{connectedUser.firstname}}</p>
        <button (click)="disconnect()">Se deconnecter</button>
    </div>
</div>