.chapter {
    background-color: white;
    padding: 1%;
    width: 90%;
    margin : auto;
    margin-bottom: 1%;
}

button {
    padding: 1% 1%;
    background-color: black;
    color : white;
    border : 1px solid black;
    margin : 1%;
}

button:hover {
    background-color: white;
    color : black;
    border : 1px solid black;
}

input {
    width: 30%;
    margin-bottom: 1%;
}