.enfant {
    border : 1px solid darkviolet;
    padding : 0 1%;
    margin-top : 1%;
}

button {
    padding: 1% 2%;
    background-color: black;
    color : white;
    border : 1px solid black;
    margin : 1%;
}

button:hover {
    background-color: white;
    color : black;
    border : 1px solid black;
}