<div class="enfant">
    <h4>Je suis l'enfant :)</h4>
    <p>Mon parent s'appelle {{nomParent}}</p>
    <button (click)="besoinEnfant('bonjour')">Bonjour papa</button>
    <button (click)="besoinEnfant('manger')">J'ai faim :(</button>
    <button (click)="besoinEnfant('jouer')">Viens jouer au foot stp</button>
    <button (click)="besoinEnfant('nawak')">Wallah frer, zebi kom tu fé tiep</button>

    <ng-content></ng-content>
</div>
