<h2>Liste de mes contacts pref : </h2>
<div class="chapter">
    <div class="flex" *ngFor="let contact of mesContacts">
        <div>{{contact.firstname}} {{contact.lastname}}</div>
        <div><a routerLink="/demo/detailContact/{{contact.id}}">Voir détails 🔍</a></div>
    </div>
</div> 