<h2>Les Bindings</h2>
<div class="chapter">
    <h3>Property Binding</h3>
    <h4>One way binding</h4>
    <div>
        Bonjour et bienvenue {{firstName}} ! 🥳 
        (Pour le panel émoji : Touche Windows + ;)
    </div>
    <h4>Two way binding</h4>
    <div>
        <input [(ngModel)]="firstName" type="text">
    </div>
</div>

<div class="chapter">
    <h3>Event Binding</h3>
    <div>
        <p>{{hello}}</p>
        <button (click)="sayHello('fr')" >Dire bonjour en Français</button>
        <button (click)="sayHello('en')">Dire bonjour en Anglais</button>
        <button (click)="sayHello('it')">Dire bonjour en Italien</button>
        <button (click)="sayHello('agougou')">Agougou</button>
    </div>
</div>

<div class="chapter">
    <h3>Attribute Binding</h3>
    <div id="{{monId}}">Ma super div</div>
    <input type="text" placeholder="{{monPlaceholder}}">
    <!-- Privilégier cette façon [attribute] -->
    <input type="text" [placeholder]="monPlaceholder">
    <button [disabled]="unClickable">Essaye de cliquer 😉</button>
</div>