<h2>Demo API</h2>
<div class="chapter">
    <div>
        <label for="prenom">Entrez votre prénom</label>
        <input id="prenom" type="text" [(ngModel)]="prenom">
    </div>
    <div>
        <label for="pays">Choisissez un pays</label>
        <select id="pays" [(ngModel)]="codePays">
            <option *ngFor="let item of codesPays" [value]="item.code">{{item.pays}}</option>
        </select>
    </div>
    <div>
        <button (click)="search()">Chercher</button>
    </div>
    <div *ngIf="reponseApi">
        Vous avez {{ reponseApi.probability * 100 }} % de chance d'être {{(reponseApi.gender == 'male' ? 'un homme 👨' : 'une femme 👩')}} !
    </div>
</div>