<h1>Demos et exercices du groupe Angular Afelio</h1>
<div class="repo">
    <img src="../../assets/images/gitlab.png" alt="gitlab logo">
    <a href="https://gitlab.com/AudeBStorm/demoangularafelio" target="_blank">Le repo</a>
</div>
<div class="sheet">
    <img src="../../assets/images/angular.png" alt="angular logo">
    <a href="https://angular.io/guide/cheatsheet" target="_blank">CheatSheet Angular</a>
</div>