img {
    width: 75px;
    margin-right: 2%;
}

.repo {
    display: flex;
    align-items: center;
}

.sheet {
    display: flex;
    align-items: center;
}

a {
    color : darkslategray;
    text-decoration: none;
}

a:visited {
    color : darkslategray;

}

a:hover {
    color : darkorange;
}