<h2>Le timer</h2>
<div class="chapter">
    <div class="seconds">{{totalSecondes | convertTime }}</div>
    <div class="buttons">
        <button [disabled]="timer" (click)="play()">Start  ▶</button>
        <!-- <button [disabled]="timer != undefined" (click)="play()">Start</button> -->
        <button [disabled]="!timer" (click)="pause()">Pause  ⏸</button>
        <!-- <button [disabled]="timer == undefined" (click)="pause()">Pause</button> -->
        <button [disabled]="totalSecondes == 0" (click)="reset()">Reset ⏸↩</button>
    </div>
</div>