.chapter {
    background-color: white;
    padding: 1%;
    width: 90%;
    margin : auto;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 1% 2%;
    background-color: black;
    color : white;
    border : 1px solid black;
    margin : 1%;
}

button:hover {
    background-color: white;
    color : black;
    border : 1px solid black;
}

button:disabled {
    background-color: lightgray;
    color : darkgray;
    border : 1px solid lightgray;
}

.buttons {
    width: 50%;
    text-align: center;
}

.seconds {
   width: 50%;
   text-align: center;
   font-size: 42px;
}